body {
  font-family: 'Lato', sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 0;
  background-image: url('./background-2.jpg');
  background-position: center;
  
  background-size: cover;
}

.ti-resume {
  padding: 0 4rem;
  width: 60%;
  background-color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}

section.ti-intro {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  align-items: center;
}

.ti-intro-picture {
  width: 20%;
}

.ti-profile-picture {
  width: 100%;
  border-radius: 50%;
}

.ti-intro-about h1{
  font-size: 2rem;
  margin: 0;
}

.ti-intro-about small {
  display: block;
  font-size: 1.2rem;
}

.ti-intro-about {
  width: 80%;
  padding-left: 2rem;
}

.ti-intro-about h3 {
  margin-top: 0;
}
.ti-intro-about p {
  font-size: 0.9rem;
  text-align: justify;
}

.ti-intro-personal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ti-intro-personal address{
  text-align: right;
}

h3 {
  text-transform: capitalize;
  line-height: 2rem;
  border-bottom: 2px solid;
  margin-bottom: 0;
}

h4 {
  margin: 0;
}

.project-description {
  padding: 1rem 0;
  border-bottom: 1px solid grey;
}

.project-description:last-child {
  border-bottom: 0;
}

section div.project-description:nth-child(1) {
  padding-top: 0;
}

ul.ti-about-contact {
  list-style: none;
  text-align: right;
  padding: 0;
}

ul.ti-about-contact a {
  display: inline;
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: black;
  line-height: 1rem;
}

ul.ti-about-contact a:hover {
  border-bottom: 1px solid black;
}

object.logo {
  width: 1rem;
  height: 1rem;
  position: relative;
  z-index: -1;
}