@font-face {
  font-family: 'Roboto Slab';
  src: url('../static/RobotoSlab-Bold.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('../static/Lato-Regular.ttf')
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #1B2727;
  display: flex;
  justify-content: center;
  margin: 0;
  background-image: url('../images/philodendron-bg.jpg');
  background-size: cover;
}

::selection {
  background-color: #BE6E46;
}

.ti-resume {
  width: 80%;
  background-color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}

section {
  padding: 0 4rem;
  margin: 2rem 0;
}

section.ti-intro,
section.ti-footer {
  display: flex;
  justify-content: center;
  padding: 2rem 4rem;
  align-items: center;
  background-color: #161E21;
  color: #e0e2ce;
  margin: 0;
}

.ti-intro-picture {
  width: 20%;
}

.ti-profile-picture {
  width: 100%;
  border-radius: 50%;
}

.ti-intro-about h1{
  font-size: 2rem;
  margin: 0;
}

.ti-intro-about small {
  display: block;
  font-size: 1.2rem;
}

.ti-intro-about {
  width: 80%;
  padding-left: 2rem;
}

.ti-intro-about h3 {
  margin-top: 0;
}
.ti-intro-about p {
  font-size: 0.9rem;
  text-align: justify;
}

.ti-intro-personal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ti-intro-personal address{
  text-align: right;
}

h3 {
  text-transform: capitalize;
  line-height: 2rem;
  border-bottom: 2px solid;
  margin-bottom: 0;
}

h4 {
  margin: 0;
}

.project-description {
  padding: 1rem 0;
  border-bottom: 1px solid grey;
}

.project-description:last-child {
  border-bottom: 0;
}

.project-description h4 a,
.project-description h4 a:visited,
.project-description h4 a:focus {
  text-decoration: none;
  color: #000;
}

.project-description h4 a:hover {
  color: #BE6E46;
  border-bottom: 1px solid #BE6E46;
}

.project-description h4 small,
.education-description h4 small {
  display: block;
}

section div.project-description:nth-child(1) {
  padding-top: 0;
}

ul.ti-about-contact--mobile {
  display: none
}

ul.ti-about-contact {
  list-style: none;
  text-align: right;
  padding: 0;
}

ul.ti-about-contact a {
  display: inline;
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: #e0e2ce;
  line-height: 1rem;
}

ul.ti-about-contact a:hover {
  color: #BE6E46;
  border-bottom: 1px solid #BE6E46;
}

object.logo {
  width: 1rem;
  height: 1rem;
  position: relative;
  z-index: -1;
  filter: invert(91%) sepia(13%) saturate(233%) hue-rotate(26deg) brightness(104%) contrast(82%);
}

ul.ti-about-contact a:hover object.logo, 
ul.ti-about-contact a:visited object.logo {
  filter: invert(45%) sepia(72%) saturate(402%) hue-rotate(335deg) brightness(92%) contrast(88%);
}

label {
  background-color: #E4C4B4;
  font-size: 0.8rem;
  padding: 0.1rem 0.2rem;
  border-radius: 2px;
  white-space: nowrap;
  line-height: 1.3rem;
}

.repository-link span{
  font-size: 0.7rem;
}

section.ti-footer {
  flex-direction: column;
  color: #29372E;
}

/* Mobile */

@media only screen and (max-width:900px) {
  .ti-resume {
    width: 100%;
  }
  section {
    padding: 1rem 2rem;
    margin: 0;
  }

  section.ti-intro {
    background-image: url('../images/philodendron-bg.jpg');
    background-size: cover;
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .ti-intro-about {
    background-color: #161E21;
    padding: 0 1rem;
    width: 100%;
  }

  .ti-intro-picture {
    width: 60%;
  }

  .ti-intro-personal {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  ul.ti-about-contact {
    display: none;
  }

  ul.ti-about-contact--mobile {
    display: flex;
    margin: 0.5rem 0;
  }

  ul.ti-about-contact--mobile li {
    margin: 0 0.5rem;
  }

  .ti-intro-about p {
    text-align: left;
  }
}

@media print {
  body {
    background-color: #fff;
    background-image: none;
    color: #000;
    padding: 0;
    margin: 0;
    font-size: 12pt;
  }
  
  a, a:hover, a:visited,
  ul.ti-about-contact a {
    color: #000;
    text-decoration: dotted;
  }

  a.printable-link:link:after,
  a.printable-link:visited:after {
    font-size: 10pt;
    content: " [ " attr(href) " ] ";
  }

  section {
    margin: 0;
    padding: 0;
  }

  section.ti-intro {
    background-color: #fff;
    color: #000;
    padding: 0;
    margin: 0;
  }

  .ti-resume {
    padding: 0;
    margin: 0;
  }

  .ti-intro-picture,
  object,
  section.ti-footer {
    display: none;
  }

  .ti-intro-about {
    width: 100%;
    padding: 0;
  }

  .project-description {
    break-inside: avoid;
  }
}